.logo_navbar{
    height: 57.12px;
    width: 165.76px;
}

.flexnav{
    display: flex !important;
    justify-content: flex-end !important;
}

.font_navbar{
    color: #000000;
}

.boton_registro{
    width: 165.76px;
    height: 57.12px;
    border-radius: 28px !important;
    text-transform: uppercase;
    font-weight: bold !important;
    background-color: #089fc6 !important;
    border-color: #089fc6 !important;
}