.row-container{
    height: 90vh;;
    padding-top: 7rem;
}

.col-height{
    height: 100%;
}

.title-size{
    font-size: 30px;
}

.info-bg{
    background-color: whitesmoke;
}

.headerDivider {
    border-left:1px solid #38546d; 
    border-right:1px solid #16222c; 
    height:80px;
    position:absolute;
    right:249px;
    top:10px; 
}

.subjective-bg{
    background-color: white;
}
/* body {
    margin: 0;
    padding: 0;
    
    background-image: url(../Images/fondosemr/Fondo03.jpg);
    position: relative !important;
    min-height: 100vh;
  } */

  @media (max-width: 768px) and (max-height:1024px){

    .row-container{
        height: calc(70vh - 7rem);
        padding-top: 10rem;
    }
}
